
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #175676; /* Dark Blue */
    color: #ffffff; /* White text */
}
header {
    background-color: #175676; /* Dark Blue */
    color: #c1121f; /* Red text */
    padding: 15px;
    text-align: center;
}
nav {
    background-color: #333;
    overflow: hidden;
}
nav a {
    float: left;
    display: block;
    color: #ffffff; /* White text */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav a:hover {
    background-color: #4CAF50; /* Green */
    color: #ffffff; /* White text */
}
.main {
    display: flex;
    margin: 20px;
}
.content {
    flex: 70%;
    padding: 20px;
    background-color: #175676; /* Dark Blue */
    color: #ffffff; /* White text */
}
.sidebar {
    flex: 30%;
    padding: 20px;
    background-color: #d3d3d3; /* Light Grey */
    color: #ffffff; /* White text */
}
footer {
    background-color: #333;
    color: #ffffff; /* White text */
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
    bottom: 0;
}
